html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth; /* 부드럽게 스크롤 */
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* 스냅 스크롤 */
}

section {
  height: 100vh; /* 화면 전체 */
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}
